In [8]:
import pandas as pd
import numpy as np
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeRegressor
import category_encoders as ce

In [9]:
url = "https://raw.githubusercontent.com/mhcode001/GA_HW4/main/data/allcraftbeer.csv"
df = pd.read_csv(url)

In [10]:
df

,Unnamed: 0,abv,ibu,beer_name,style,ounces,brewery_name,city,state
0,0,0.050,26.750000,Pub Beer,American Pale Lager,12.0,10 Barrel Brewing Company,Bend,OR
1,1,0.066,44.941176,Devil's Cup,American Pale Ale (APA),12.0,18th Street Brewery,Gary,IN
2,2,0.071,67.634551,Rise of the Phoenix,American IPA,12.0,18th Street Brewery,Gary,IN
3,3,0.090,93.320000,Sinister,American Double / Imperial IPA,12.0,18th Street Brewery,Gary,IN
4,4,0.075,67.634551,Sex and Candy,American IPA,12.0,18th Street Brewery,Gary,IN
...,...,...,...,...,...,...,...,...,...
2343,2343,0.067,45.000000,Belgorado,Belgian IPA,12.0,Wynkoop Brewing Company,Denver,CO
2344,2344,0.052,36.298701,Rail Yard Ale,American Amber / Red Ale,12.0,Wynkoop Brewing Company,Denver,CO
2345,2345,0.055,31.000000,B3K Black Lager,Schwarzbier,12.0,Wynkoop Brewing Company,Denver,CO
2346,2346,0.055,40.000000,Silverback Pale Ale,American Pale Ale (APA),12.0,Wynkoop Brewing Company,Denver,CO
2347,2347,0.052,36.298701,Rail Yard Ale (2009),American Amber / Red Ale,12.0,Wynkoop Brewing Company,Denver,CO

In [11]:
df = df.drop(['Unnamed: 0'], axis = 1)

In [12]:
#df.to_csv("allcraftbeer.csv")

In [13]:
df

,abv,ibu,beer_name,style,ounces,brewery_name,city,state
0,0.050,26.750000,Pub Beer,American Pale Lager,12.0,10 Barrel Brewing Company,Bend,OR
1,0.066,44.941176,Devil's Cup,American Pale Ale (APA),12.0,18th Street Brewery,Gary,IN
2,0.071,67.634551,Rise of the Phoenix,American IPA,12.0,18th Street Brewery,Gary,IN
3,0.090,93.320000,Sinister,American Double / Imperial IPA,12.0,18th Street Brewery,Gary,IN
4,0.075,67.634551,Sex and Candy,American IPA,12.0,18th Street Brewery,Gary,IN
...,...,...,...,...,...,...,...,...
2343,0.067,45.000000,Belgorado,Belgian IPA,12.0,Wynkoop Brewing Company,Denver,CO
2344,0.052,36.298701,Rail Yard Ale,American Amber / Red Ale,12.0,Wynkoop Brewing Company,Denver,CO
2345,0.055,31.000000,B3K Black Lager,Schwarzbier,12.0,Wynkoop Brewing Company,Denver,CO
2346,0.055,40.000000,Silverback Pale Ale,American Pale Ale (APA),12.0,Wynkoop Brewing Company,Denver,CO
2347,0.052,36.298701,Rail Yard Ale (2009),American Amber / Red Ale,12.0,Wynkoop Brewing Company,Denver,CO

In [14]:
df.select_dtypes(include = object).columns.tolist()

['beer_name', 'style', 'brewery_name', 'city', 'state']

In [15]:
X = df.drop('abv', axis = 1)
y = df['abv']

In [16]:
# Optimized parameters
tree = DecisionTreeRegressor(max_depth = 9, max_features = 0.5, min_samples_leaf = 20)

pipe = make_pipeline(ce.TargetEncoder(), tree)

In [17]:
# fit the tree, and export it
pipe.fit(X, y)

Pipeline(steps=[('targetencoder',
                 TargetEncoder(cols=['beer_name', 'style', 'brewery_name',
                                     'city', 'state'])),
                ('decisiontreeregressor',
                 DecisionTreeRegressor(max_depth=9, max_features=0.5,
                                       min_samples_leaf=20))])

In [18]:
# the pickle module allows you to export saved models
import pickle

# rb -- WRITE the file in BYTES
with open('pipe.pkl', 'wb') as export:
    # this creates an external version of the file that we can now import later on
    pickle.dump(pipe, export)

In [19]:
# the pickle module allows you to export saved models
import pickle

# rb -- WRITE the file in BYTES
with open('pipe.pkl', 'wb') as export:
    # this creates an external version of the file that we can now import later on
    pickle.dump(pipe, export)

In [20]:
# we can now import this, and re-use it on new data:  very handy

with open('pipe.pkl', 'rb') as import_:
    # this will import the pickled object again
    pipe2 = pickle.load(import_)

In [21]:
pipe2

Pipeline(steps=[('targetencoder',
                 TargetEncoder(cols=['beer_name', 'style', 'brewery_name',
                                     'city', 'state'])),
                ('decisiontreeregressor',
                 DecisionTreeRegressor(max_depth=9, max_features=0.5,
                                       min_samples_leaf=20))])

In [22]:
pipe2.predict(X)

array([0.05286364, 0.05557895, 0.07613636, ..., 0.05360396, 0.05360396,
       0.06104762])

In [23]:
# here it is
pipe

Pipeline(steps=[('targetencoder',
                 TargetEncoder(cols=['beer_name', 'style', 'brewery_name',
                                     'city', 'state'])),
                ('decisiontreeregressor',
                 DecisionTreeRegressor(max_depth=9, max_features=0.5,
                                       min_samples_leaf=20))])

In [24]:
pipe2

Pipeline(steps=[('targetencoder',
                 TargetEncoder(cols=['beer_name', 'style', 'brewery_name',
                                     'city', 'state'])),
                ('decisiontreeregressor',
                 DecisionTreeRegressor(max_depth=9, max_features=0.5,
                                       min_samples_leaf=20))])

In [25]:
df.sort_values(by = 'abv')

,abv,ibu,beer_name,style,ounces,brewery_name,city,state
2208,0.001,40.912020,Scotty K NA,Low Alcohol Beer,16.0,Uncommon Brewers,Santa Cruz,CA
742,0.027,67.634551,Bikini Beer,American IPA,12.0,Evil Twin Brewing,Brooklyn,NY
1043,0.027,21.000000,Totally Radler,Radler,16.0,Hopworks Urban Brewery,Portland,OR
2332,0.028,15.000000,Summer Brew,American Pilsner,12.0,"Woodstock Inn, Station & Brewery",North Woodstock,NH
138,0.032,27.000000,Rocket Girl,Kölsch,12.0,Asheville Brewing Company,Asheville,NC
...,...,...,...,...,...,...,...,...
1805,0.100,52.000000,4Beans,Baltic Porter,12.0,Sixpoint Craft Ales,Brooklyn,NY
2221,0.104,52.000000,Lee Hill Series Vol. 4 - Manhattan Style Rye Ale,Rye Beer,19.2,Upslope Brewing Company,Boulder,CO
2131,0.120,90.000000,Csar,Russian Imperial Stout,16.0,Tin Man Brewing Company,Evansville,IN
70,0.125,80.000000,London Balling,English Barleywine,16.0,Against the Grain Brewery,Louisville,KY
2220,0.128,24.000000,Lee Hill Series Vol. 5 - Belgian Style Quadrup...,Quadrupel (Quad),19.2,Upslope Brewing Company,Boulder,CO

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2348 entries, 0 to 2347
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   abv           2348 non-null   float64
 1   ibu           2348 non-null   float64
 2   beer_name     2348 non-null   object
 3   style         2346 non-null   object
 4   ounces        2348 non-null   float64
 5   brewery_name  2348 non-null   object
 6   city          2348 non-null   object
 7   state         2348 non-null   object
dtypes: float64(3), object(5)
memory usage: 146.9+ KB

In [27]:
df.select_dtypes(include = np.object).columns.tolist()

/var/folders/2w/vnw4v19x7fs1g_w0ns1sdly0blfqhl/T/ipykernel_10159/1461041111.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df.select_dtypes(include = np.object).columns.tolist()

['beer_name', 'style', 'brewery_name', 'city', 'state']

In [28]:
beer_name = 'Rocket Girl'
style = 'American IPA'
brewery_name = 'Summer Brew'
city = 'Santa Cruz'
state = 'CA'
ibu = 27
ounces = 16

In [29]:
sample = {
    'beer_name': beer_name,
    'style': style,
    'brewery_name': brewery_name,
    'city': city,
    'state': state,
    'ibu': ibu,
    'ounces': ounces
}

sample = pd.DataFrame(sample, index = [0])

In [30]:
pipe2.predict(sample)[0]

/opt/anaconda3/lib/python3.8/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

0.06287096774193549

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2348 entries, 0 to 2347
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   abv           2348 non-null   float64
 1   ibu           2348 non-null   float64
 2   beer_name     2348 non-null   object
 3   style         2346 non-null   object
 4   ounces        2348 non-null   float64
 5   brewery_name  2348 non-null   object
 6   city          2348 non-null   object
 7   state         2348 non-null   object
dtypes: float64(3), object(5)
memory usage: 146.9+ KB